:root {
  --brand: #1859ff; // Запасной #1F75FE;
  --cobalt-blue: #0039cc; // Запасной #122faa;
  --gray-blue: #0d1627; // Запасной #1A153F;
  --light-blue: #d1deff; // Запасной #afdafc;
  --gradient-card: linear-gradient(135deg, #002fa8 0%, #001a68 100%); // Запасной #122faa;
  --white: #ffffff;
  --light-accent: #eef4f6; // Запасной #afdafc;
  --accent: #d9f243; // Запасной #d1e231;
  --attention: #ff5e66;
  --disabled: #a9afb7; // Запасной #e0e0e0;
}
