:root {
  --brand: #1859ff;
  --cobalt-blue: #0039cc;
  --gray-blue: #0d1627;
  --light-blue: #d1deff;
  --gradient-card-liner: linear-gradient(135deg, #002fa8 0%, #001a68 100%);
  --card-color: radial-gradient(94.44% 92.48% at 2.96% 50%, #daeef4 18.98%, #eef4f6 50.96%, #ffffff 88.74%);
  --white: #ffffff;
  --light-accent: #eef4f6;
  --accent: #d9f243;
  --attention: #ff5e66;
  --disabled: #a9afb7;
  --light-border: #dee9ed;
  --shadow: color-mix(in srgb, var(--gray-blue, #1a153f), transparent 85%);

  --ff-basic: "Loos Wide", "Arial", sans-serif;
  --ff-additional: "Manrope", "Arial", sans-serif;
}
