.about {
  --h-font-size: 38px;

  padding-block: 90px;
}

.about__title {
  font-family: var(--ff-loos-wide, "Arial", sans-serif);
  font-weight: var(--font-weight, 500);
  font-size: var(--h-font-size);
  line-height: var(--h-line-height, 98px);
  letter-spacing: var(--letter-spacing, -0.01em);

  margin-block: 0 39px;
}

.about__list {
  padding: 0;
  list-style: none;
  display: grid;
  gap: 15px;
}
