.burger {
  --icon: url("../../icons/burger.svg");

  width: 69px;
  height: 70px;
  background: transparent var(--icon) no-repeat center / 34px 18px;
  border: none;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.burger--cross {
  --icon: url("../../icons/cross.svg");
}
