.burger {
  --icon: url("../../icons/burger.svg");

  width: 70px;
  aspect-ratio: 1;
  background: transparent var(--icon) no-repeat center / 28px 18px;
  padding: 0;
  border: none;
  cursor: pointer;

  @media (min-width: $mobile-width) {
    box-shadow: 0 -1px 0 1px var(--shadow, #0d1627);
  }
}

.burger--cross {
  --icon: url("../../icons/cross.svg");
}
