.burger {
  --icon: url("../../icons/burger.svg");

  width: 44px;
  aspect-ratio: 1;
  background: transparent var(--icon) no-repeat center / 34px 18px;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:focus-visible {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.burger--cross {
  --icon: url("../../icons/cross.svg");
}
