.button {
  @include link-reset;
  display: inline-block;
  font-family: "Loos Wide", "Arial", sans-serif;
  color: var(--white, #ffffff);
  background-color: var(--brand, #1f75fe);
  border-radius: 99em;
  padding: 5px 15px;
  letter-spacing: 1%;
}
