.graduates {
  list-style: none;
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 451px;
  padding: 22px;
  border-radius: 32px;
  background: radial-gradient(94.44% 92.48% at 2.96% 50%, #DAEEF4 18.98%, #EEF4F6 50.96%, #FFFFFF 88.74%);
  background-repeat: no-repeat;
}

.graduates__item {
  width: 90px;
  height: 90px;
  grid-row: 1;

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      grid-column: #{$i} / #{$i + 2};
      z-index: $i;
    }
  }
}

.graduates__item-photo {
  width: 90px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 0 5px var(--white, #ffffff);
}
