.graduates {
  list-style: none;
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 451px;
  padding: 22px;
  border-radius: 32px;
  // background: radial-gradient(94.44% 92.48% at 2.96% 50%, #DAEEF4 18.98%, #EEF4F6 50.96%, #FFFFFF 88.74%);
  // background-repeat: no-repeat;

  @media (min-width: $desktop-width) {
    width: 573px;
    padding-inline-start: 10px;
  }
}

.graduates__item {
  width: 90px;
  height: 90px;
  grid-row: 1;

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      grid-column: #{$i} / #{$i + 2};
      z-index: $i;
    }
  }

  @media (min-width: $desktop-width) {
    width: 120px;
    height: 120px;
  }
}

.graduates__item-photo {
  width: 90px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 0 5px var(--white, #ffffff);

  @media (min-width: $desktop-width) {
    width: 120px;
  }
}

.graduates__item-link {
  display: block;
  width: 90px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--white, #ffffff);
  background-image: url(../../icons/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  border: 2px solid var(--brand, #1F75FE);
  box-shadow: 0 0 0 5px var(--white, #ffffff);
  z-index: 5;

  @media (min-width: $desktop-width) {
    width: 120px;
    background-size: 60px;
  }
}
