.nav {
  display: flex;
  align-items: center;
  padding-block: 17px;
  box-shadow: 1px 0 0 0 var(--shadow, #0d1627);

  @media (min-width: $desktop-width) {
    flex-direction: row-reverse;
    column-gap: 101px;
  }
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 30px 17px 37px 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--white, #ffffff);
  position: absolute;
  left: 0;
  top: 70px;
  z-index: 1;

  .is-hidden & {
    display: none;
  }

  @media (min-width: $desktop-width) {
    position: static;
    padding: 0;
    gap: 20px;
    flex-flow: row wrap;

    .is-hidden & {
      display: flex;
      flex-direction: row;
    }
  }
}

.nav__link {
  text-decoration: none;
  display: inline-block;
  color: var(--gray-blue, #0d1627);
  font-family: "Loos Wide", "Arial", sans-serif;
  font-size: 30px;
  line-height: 1.02;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }

  &:hover {
    opacity: 0.5;
  }

  &:focus-visible {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }
}
