.page {
  scroll-behavior: smooth;
}

.page__body {
  font-family: var(--ff-additional, "Arial", sans-serif);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: var(--gray-blue, #1a153f);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: var(--white, #ffffff);
}
