.page {
  scroll-behavior: smooth;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Manrope", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: var(--gray-blue, #1a153f);
  background-color: var(--white, #ffffff);
}
