.page {
  scroll-behavior: smooth;
}

.page__body {
  font-family: var( --ff-manrope, "Arial", sans-serif);
  font-weight: var(--font-weight, 500);
  font-size: var(--p-font-size, 18px);
  line-height: var(--p-line-height, 140px);
  color: var(--gray-blue, #1a153f);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: var(--white, #ffffff);
}
