.stats-info {
  --letter-spacing: -0.06em;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: var(--ff-loos-wide, "Arial", sans-serif);
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  margin-block: 25px;
}

.stats-info__item {
  display: grid;
}

.stats-info__value {
  grid-row-start: 1;
  font-size: 90px;
  line-height: 1;
  letter-spacing: var(--letter-spacing);
  margin-inline-start: 0;
}

.stats-info__text {
  --letter-spacing: 0;
  --text-margin-top: 10px;

  font-family: var(--ff-manrope, "Arial", sans-serif);
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: var(--letter-spacing);
  margin-block-start: var(--text-margin-top);

  .stats-info__item:first-child & {
    --text-margin-top: 5px;
  }
}
