.work {
  display: grid;
  padding-block: 32px 135px;
  font-family: var(--ff-loos-wide, "Arial", sans-serif);
}

.work__info {
  width: 450px;
  margin: auto;
}

.work__title {
  font-size: 38px;
  font-weight: 500;
  color: var(--gray-blue, #1a153f);
  line-height: 0.98;
  letter-spacing: -0.01em;
  margin-block: 0 15px;
}

.work__subtitle {
  font-family: var(--ff-manrope, "Arial", sans-serif);
  font-size: 18px;
  line-height: 1.4;
  margin-block: 18px 25px;
  opacity: 0.7;
}

.work__button {
  font-size: 18px;
  line-height: 1.4;
  padding: 15px 25px;
  transition: opacity 0.2s;
}

.work__button:hover {
  opacity: 0.9;
}

.work__grid {
  list-style: none;
  padding: 0;
  margin-inline: auto;
  margin-block-start: 60px;
  display: grid;
  grid-template-columns: repeat(3, 160px);
  grid-auto-rows: 160px;
  border-top: 1px solid var(--light-border, #e0e0e0);
  border-left: 1px solid  var(--light-border, #e0e0e0);
}

.work__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--light-border, #e0e0e0);
  border-bottom: 1px solid var(--light-border, #e0e0e0);
  order: var(--order, 0);
}

.work__item:nth-child(3) {
  --order: 1;
}

.work__item:nth-child(2) {
  --order: 2;
}

.work__item:nth-child(1) {
  --order: 3;
}

.work__item:nth-child(6) {
  --order: 4;
}

.work__item:nth-child(7) {
  --order: 5;
}

.work__item:nth-child(8) {
  --order: 6;
}

.work__item:nth-child(9) {
  --order: 7;
}

.work__item:nth-child(4) {
  --order: 8;
}

.work__item:nth-child(5) {
  --order: 9;
}
